/* button styling */
 .box {
			/* background-color: #018171; */
			display: inline-flex;
			margin-top: 10px;
			margin-bottom: 10px;
			height: 30px;
			
		}
 
 .box button:hover {
			background-color:#00584e;
			}

	.edit{
	
		display: block;
		width: 100%;

	} 
	.delete{
		margin-left: 10px;
	}
/* form styling */
.draft {
	  
	  margin-bottom: 80px;
	  background-color: #e9ebf0;
	  border-radius: 5px solid rgb(19, 208, 145);
	  display: flex;
	  justify-content: space-between;
	  height: 21%;
	  align-items: center;

 }

/* heading styling */
 h1{
    font-size: 60px;
	font-weight: 600;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 p{
	justify-content: center;
 }